@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap');


.box {
  height: 3rem;
  width: 12rem;
  border: solid 1px white;
}

.whitelink {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#ffff, #ffff);
  background-size: 0 1px;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
  text-decoration-skip-ink: auto;
}

.whitelink:hover {
  background-size: 100% 1px;
  background-position: 50% 90%
}

.merch {
  height: 22rem;
  width: 16rem;
  border: 1px solid white;
}

.card {
  position: relative;
  height: 450px;
  width: full;
}

.card:hover .layout {
  background-color: #fff;
  opacity: 0.5; 
}

.layout {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  place-items: center;
}